<header>
    <div class="container">
        <a href="#" routerLink="/" class="logo"> 🅵🅾🅾🅳!🆉🅾🅽🅴</a>
        <nav>
            <ul>
                <li class="menu-container">
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/cart-page">Cart <span>{{cartQuantity}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="search">
        <app-search></app-search>
    </div>

</header>